.wrapper {
  background-color: white;
  border: none;
  height: 31px;
  font-size: 13px;
  font-weight: 600;
  margin: 15px;
  cursor: pointer;

  &:hover{
    color: #F2184F;
  }

  img{
    
  }
}

.button{
  width: 99px;

}
.border{
    border: 1px #F2184F solid;
    border-radius: 15.5px;
    color: #202C45;
    
    &:hover{
        color: white;
        background-color: #F2184F;
    }
}