.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;

  span {
    font-size: 25px;
    font-weight: 600;
  }

  .strong {
    color: #f2184f;
  }
  hr {
    width: 80px;
    height: 2px;
    background-color: #f2184f;
    border: none;
    margin: 0px;
  }
}
