.wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.219);
  margin: 15px;
  cursor: pointer;
  z-index: 100;
  &:hover {
    background-color: rgba(0, 0, 0, 0.637);
    img {
      opacity: 0.7;
    }
  }

  img {
    width: 30px;
    opacity: 0.25;
  }
}
